
body {
    background-color: #badfe7;
  }
  h1 {
    color: black;
  }

  .navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
  }

.navbar {
  /* The width is 20%, by default */
  height:60px;   
  width: 100%;
  background-color: #388087;
  display:flex;
  flex:wrap;
  box-shadow: 5px 5px 15px gray;
}

.buttons{
  display:flex;
  flex:wrap;
  align-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  
}

.text-right{
  align-content: end;
}

.text-description{
  padding: 10px;
  margin: 10px;
  box-shadow: 5px 5px 15px #388087;
}

#texto {
  
  padding: 1px;
  /* box-shadow: 5px 5px 8px #388087; */
}

.articles{
    display: flex;
    flex-wrap: wrap;
    /*flex-flow: row wrap;*/
    flex-direction: row;
    align-content: flex-start;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    box-shadow: 5px 5px 15px gray;
  }

.main  {
  background-color: #388087;
  color: white;
  width: 70%;
  display: flex;
  justify-content: baseline;
  text-decoration: none;
  margin-left: 25%;
  margin-right: 10px;
  align-items: center;
}

.main :hover{
  color:black;
  border-top:2px solid black;
  /* font-size:13px; */
  text-transform:uppercase;
  line-height:20px;
  text-decoration:none;
  margin-left: 10px;
  margin-right: 10px;

}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 800px) {
  .left, .main, .right, .navbar {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}



li {list-style-type: none;
    font-size: 16pt;
    }
    .mail {
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 400px;
    background : #D8F1F8;
    border: 1px soild silver;
    }
    .mail h2 {
    margin-left: 38px;
    }
    .mail h3 {
        margin-left: 38px;
    }
    input {
    font-size: 14pt;
    }
    input:focus, textarea:focus{
    background-color: lightyellow;
    }
    input submit {
    font-size: 10pt;
    }
    .rq {
    color: #FF0000;
    font-size: 10pt;
    }


    /************************************************************************************/

    
  .todo{
    display:flex;
    flex-direction: row-reverse;
  }

  #rectangle {
    width  : 50%;
    height : 50%;
    margin-right: 10px;
    padding-left: 10px;
    background : #e3d477;
    box-shadow: 5px 5px 15px gray;
  }