
body {
    background-color: #badfe7;
  }
  h1 {
    color: black;
  }

  .navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
  }

.navbar {
  /* The width is 20%, by default */
  height:60px;   
  width: 100%;
  background-color: #388087;
  display:flex;
  flex:wrap;
  box-shadow: 5px 5px 15px gray;
}

.buttons{
  display:flex;
  flex:wrap;
  align-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  
}

.boton{
  width:90px; 
  margin-right: 20px;
}

.text-right{
  align-content: end;
}

.text-description{
  padding: 10px;
  margin: 10px;
  box-shadow: 5px 5px 15px #388087;
  margin-left: 10px;
}

.valores{
  margin-left: 10px;
  margin-top: 10px;
}

.logo{
  padding: 1px;
  width: 50px;
}

.imgslide{
  height:580px;
}

.circles{
  text-align:center;
}

.resultadosarticulos{
  margin-left: 10px;
  margin-bottom: 10px;
}


#texto {
  
  padding: 1px;
  /* box-shadow: 5px 5px 8px #388087; */
}

.articles{
    display: flex;
    flex-wrap: wrap;
    /*flex-flow: row wrap;*/
    flex-direction: row;
    align-content: flex-start;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    box-shadow: 5px 5px 15px gray;
  }

.main  {
  background-color: #388087;
  color: white;
  width: 60%;
  display: flex;
  justify-content: baseline;
  text-decoration: none;
  margin-left: 25%;
  margin-right: 10px;
  align-items: center;
}

.main :hover{
  color:black;
  border-top:2px solid black;
  /* font-size:13px; */
  text-transform:uppercase;
  line-height:20px;
  text-decoration:none;
  margin-left: 10px;
  margin-right: 10px;

}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 800px) {
  .left, .main, .right, .navbar {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}



li {list-style-type: none;
    font-size: 16pt;
    }
    .mail {
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 400px;
    background : #D8F1F8;
    border: 1px soild silver;
    }
    .mail h2 {
    margin-left: 38px;
    }
    .mail h3 {
        margin-left: 38px;
    }
    input {
    font-size: 14pt;
    }
    input:focus, textarea:focus{
    background-color: lightyellow;
    }
    input submit {
    font-size: 10pt;
    }
    .rq {
    color: #FF0000;
    font-size: 10pt;
    }
    .accept{
      font-size: 10pt;
    }

    /************************************************************************************/

  .todo{
    display:flex;
    flex-direction: row-reverse;
  }

  #rectangle {
    width  : 500px;
    height : 50%;
    margin-right: 10px;
    padding-left: 10px;
    background : #e3d477;
    box-shadow: 5px 5px 15px gray;
  }

  /*css style for slide in accueil.php*/  

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
 /* position: relative;*/
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  /*display: none;*/
  justify-content: center;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
 /* position: absolute;*/
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}